@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&amp;display=swap);
.LIST {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2%;
  background-image: url("https://i.postimg.cc/jd1FD0TZ/NSwitch-Animal-Crossing-New-Horizons-bg-grass.jpg");
  animation: fondo 100s infinite linear;
  
  
}
.TarjetaF {
  background-image: url("https://i.postimg.cc/MH5JCsfg/NSwitch-Animal-Crossing-New-Horizons-wood-texture.jpg");
  height: 300px;
  width: 350px;
  margin-top: 2%;
  border-radius: 24%;
}
.TarjetaF .ButtonModal {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  border-radius: 24%;

  margin-top: -30px;
}
.Tarjeta p {
  font-family: "Nunito";
  font-size: 1.5em;
  font-weight: bold;
}
.Bells{
  width: 20%;
  height: 20%;
}
.modal-90w{
  /* position: absolute; */
  box-shadow: 24;
  position: relative;
  width: 100%;
  overflow-y: auto;
  z-index: 2001;

  
}
.modal-body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.modal-body img{
  max-width: 100%;
}
.modal-body  p>img{
  max-width: 30%;
}
@keyframes fondo   {
  from {
    background-position: center left;
  }
  to {
    background-position: center right;
  }
}